@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap");

* {
    margin: 0;
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #3a317c;
}

body {
    overflow-x: hidden;
}
img {
    width: 100%;
}

.my-navbar {
    display: flex;
    animation: 0.5s fadeUp;
    height: 70px;
    width: 100%;
    background-color: #fff;
}

.navbar-container {
    font-family: "urbanist", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-scroll {
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #959595;
    left: 0;
    z-index: 9999;
    animation: 0.5s fadeIn;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes fadeUp {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.logo {
    width: 120px;
}

a {
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-links a {
    color: #072947;
    font-weight: 600;
    padding: 7px;
    height: 60px;
    align-items: center;
    display: flex;
    font-size: 18px;
    position: relative;
}

.nav-links > a::before {
    position: absolute;
    content: "";
    display: flex;
    width: 0%;
    height: 2px;
    bottom: 1px;
    left: 0;
    background-color: blue;
}

.nav-links a:hover::before {
    width: 100%;
    transition: 0.5s;
}

/* dropdown */
.drop-menu {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 10px;
    margin: 0;
}
.drop-menu > li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    position: relative;
}

.drop-menu > li i {
    font-size: 16px;
    padding-left: 7px;
}

.sub-menu {
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 150px;
    list-style: none;
    z-index: 1;
    top: 65px;
    left: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 1px 1px 10px #0000001e;
    transition: 0.3s all;
}

.drop-menu > li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}

.sub-menu li > a {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 5px;
    color: #231f40;
}

.sub-menu > li {
    position: relative;
}

.sub-menu > li a {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.sub-menu .sub_sub-menu {
    box-shadow: 1px 1px 10px #0000001e;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    visibility: hidden;
    opacity: 0;
    top: 0px;
    padding: 5px;
    transition: 0.3s;
    list-style: none;
    left: 148px;
    background-color: #fff;
    width: 150px;
}

.sub-menu li:hover .sub_sub-menu {
    visibility: visible;
    opacity: 1;
}
/* dropdown */

.navbar-btns {
    display: flex;
    gap: 10px;
}

.navbar-btns .whatsapp-btn {
    display: flex;
    height: 40px;
    width: 60px;
    font-size: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    color: rgb(21, 214, 21);
    background-color: #efeded69;
}

.navbar-btns .register-btn {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: 20px;
    text-align: center;
    height: 40px;
    color: #fff;
    border-radius: 20px;
    background-color: #525fe1;
}

.menu-icon {
    display: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.responsive-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100vh;
    background-color: #231f40;
    z-index: 9999;
    display: none;
    transition: 0.7s linear;
    transform: translateX(-1200px);
}

.transformX {
    transform: translateX(0);
}

.res-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.navbar-top {
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #fff;
    padding: 10px;
}

.res-logo {
    width: 130px;
}

.res-logo img {
    width: 100%;
}

.xmark-icon {
    color: #fff;
    margin-top: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.navbar-bottom {
    display: flex;
    padding-top: 30px;
    height: 100vh;
}

.res-nav-links {
    /* text-align: center; */
    gap: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.res-nav-links a {
    font-size: 19px;
    display: flex;
    width: 100%;
    padding: 5px 0;
    color: #fff;
}
.my-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

.dropdown-menu {
    width: 100%;
    margin-top: -40px !important;
    margin-bottom: 40px !important;
    height: auto;
    position: relative !important;
    padding-left: 15px;
    background-color: transparent;
    border: none;
}
.dropdown-menu a {
    color: #fff;
    padding: 10px 0;
}
/* hero section */

.hero {
    background-image: url(../images/backimg.png);
    padding: 85px 0;
    background-size: cover;
}

.my-container {
    display: flex;
    height: 100%;
    align-items: center;
}

.my-container .left-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.my-container .left-side h1 {
    font-size: 70px;
    font-weight: 700;
    color: #072947;
}

.my-container .left-side p {
    color: #072947;
    font-size: 20px;
    padding-right: 100px;
    font-weight: 500;
}

.my-container .left-side .btns {
    display: flex;
}

.btns a {
    background-color: #072947;
    color: #fff;
    width: 150px;
    margin-right: 10px;
    height: 45px;
    font-size: 18px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns a > i {
    padding-left: 10px;
}

.btns a:nth-child(2) {
    background-color: transparent;
    color: #072947;
}

.my-container .right-side img {
    border-radius: 25px;
}

/* hero */

/* about-us */

.about-us {
    margin: 50px 0;
}

.about-us .left-side {
    position: relative;
    padding: 20px 30px;
}

.about-us .left-side > img {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.about-us .left-side .absolute-img {
    position: absolute;
    bottom: -10px;
    right: 0px;
    border-radius: 30px;
    overflow: hidden;
    height: 200px;
    width: 200px;
}

.absolute-img img {
    object-fit: cover;
    box-shadow: 0px 5px 25px #ffffff;
    border-radius: 30px;
    height: 100%;
    width: 100%;
}
.absolute-img .about-img {
    padding: 15px;
    height: 200px;
    overflow-y: hidden;
    border-radius: 30px;
    transform: translatex(-180px);
    overflow: hidden;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    opacity: 0.8;
    position: relative;
    transition: 0.5s linear;
    background-color: #3f14dc;
}

.absolute-img:hover .about-img {
    transform: translate(0) !important;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links a {
    font-size: 24px;
    color: #fff;
    padding: 6px;
}

.about-us .right-side {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us .right-side span {
    font-size: 20px;
    font-weight: 700;
    color: #3f14dc;
    letter-spacing: 2px;
}

.about-us .right-side h3 {
    color: #231f40;
    font-size: 35px;
    line-height: 50px;
    font-weight: 700;
}

.about-us .right-side p {
    font-weight: 600;
    font-size: 19px;
}

.about-us-btns {
    width: 100%;
    display: flex;
    gap: 10px;
}

.about-us-btns a {
    width: 100%;
    text-align: center;
    margin: 10px;
    font-size: 19px;
    font-weight: 600;
    background-color:#49408d;
    color: #fff;
    padding: 10px;
    border-radius: 100px;
    transition: .5s ease;
}

.about-us-btns a:hover{
    background-color: #4435b3;
}

/* about-us */

/* services */

.services {
    padding: 50px 0;
}

.services-top {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services-top span {
    font-size: 23px;
    color: #3f14dc;
    margin-bottom: 20px;
    font-weight: 700;
}

.services-top h3 {
    font-size: 40px;
    color: #072947;
    max-width: 750px;
    margin-bottom: 40px;
}

.services-item {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 15px 20px;
    height: 250px;
    gap: 5px;
    transition: 0.5s;
    background-color: #f8f8f8;
}

.services-item h3 {
    font-size: 24px;
    color: #072947;
}

.services-item p {
    font-size: 17px;
    font-weight: 500;
    color: #505050;
}

.service-icon {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    color: #5931e8;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    background-color: #e1dcf3;
}

.s-item-2 {
    transform: translateY(-15px);
    color: #fff;
    background-color: #5931e8;
}

.s-item-2 p {
    color: #fff;
}

.s-item-2 h3 {
    color: #fff;
}

.s-item-2 .service-icon {
    color: #fff;
    background-color: #7454e7;
}

.services-item:hover .service-icon {
    background-color: #7454e7;
    color: #fff;
}

.services-item:hover {
    background-color: #5931e8;
    color: #fff;
    transform: translateY(-15px);
}

.services-item:hover h3 {
    color: #fff !important;
}

.services-item:hover p {
    color: #fff;
}
/* services */

/* register */
.register {
    background: url(../images/header2.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.form-section {
    padding: 0 50px;
    color: #04213a;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 20px;
    font-weight: 600;
}

.input-group input {
    color: #04213a;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
    /* border-radius: 50px !important; */
    border: 1px solid #cbcbcb;
    outline: none;
}

.input-group select {
    display: flex;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    border: 1px solid #cbcbcb;
    border-radius: 50px !important;
}

.type-submit {
    margin-top: 20px;
}

.type-submit input {
    background-color: white;
}

.register-left-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #04213a;
    justify-content: flex-start;
}

.register-left-side span {
    font-size: 24px;
    font-weight: 600;
    color: #04213a;
}
/* register */

/* courses */

.courses {
    padding: 30px 0;
    background-size: cover;
    background-image: url(../images/header2.jpg);
}

.course-bottom .row {
    justify-content: center;
}

.course-top {
    margin-bottom: 10px;
    text-align: center;
    font-size: 26px;
    margin-bottom: 150px;
    font-weight: 600;
    color: #042130;
}

.courses .col-xl-3 {
    margin-bottom: 100px;
}

.course-item {
    background-color: #231f40;
    border-radius: 20px;
    color: #fff;
    padding: 20px;
    gap: 5px;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.course-item p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.course-img {
    margin-top: -100px;
    margin-bottom: 10px;
    font-size: 40px;
    width: 100%;
    max-width: 200px;
    height: 200px;
    display: flex;
    object-fit: cover;
}

.course-img img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.course-item a {
    background-color: #4c4581;
    padding: 5px 20px;
    border-radius: 100px;
    color: #fff;
    transition: 0.5s ease;
}

.course-item a:hover {
    background-color: #3a317c;
}

/* courses */

.footer {
    padding: 100px 0 20px 0;
    background-color: #231f40;
}

.footer-logo {
    width: 200px;
}

.footer .col-xl-3 {
    margin-bottom: 30px;
    padding: 0 20px;
}

.footer .col-xl-3 p {
    color: #fff;
    font-weight: 600;
    margin: 30px 0;
    padding-right: 20px;
}

.footer-icons {
    display: flex;
}

.footer-icons a {
    display: flex;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 50px;
    font-size: 23px;
    color: #fff;
    background-color: #ffffff1a;
    transition: 0.5s ease;
}

.footer-icons a:hover {
    background-color: #525fe1;
}

.footer h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 35px;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    list-style: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.footer ul li i {
    font-size: 15px;
    padding-right: 15px;
}

.footer ul li a {
    color: #fff;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: 100px;
    color: #fff;
}

.footer-bottom p {
    font-size: 17px;
    font-weight: 600;
}

.footer-bottom p a {
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 991px) and (min-width: 768px) {
    .form-section {
        padding: 0px !important;
    }
    .nav-links {
        display: none !important;
    }
    .social-media-icons {
        display: none !important;
    }
    .menu-icon {
        display: flex;
    }
    .about_us-video-section .container {
        padding: 10px !important;
    }

    .about_us-video-section iframe {
        height: 400px !important;
    }
}

@media (max-width: 1200px) {
    .hero .left-side h1 {
        font-size: 55px !important;
    }

    .computer-course-img {
        height: auto !important;
    }

    .hero .left-side p {
        font-size: 19px;
    }

    .form-section {
        padding: 10px !important;
    }

    .testimonials {
        padding: 70px 0 !important;
    }

    .register-btn {
        width: 60px !important;
    }

    .register-btn span {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

    .responsive-navbar {
        display: flex !important;
    }

    .about_us-video-section .container {
        padding: 10px !important;
    }

    .about_us-video-section iframe {
        height: 500px !important;
    }
}

@media (max-width: 768px) {
    .course-img {
        width: 200px;
        height: 200px;
    }

    ._header h2 {
        font-size: 33px !important;
    }

    .homepage-ads .instagram-img {
        margin-top: 100px;
    }
    .course-details_img img {
        height: auto !important;
    }
    .container {
        max-width: 100%;
    }
    .my-map {
        padding: 0 !important;
    }
    .my-map .col-md-12 {
        margin-bottom: 20px;
    }
    .footer {
        padding: 30px 0;
    }
    .about_us-video-section .container {
        padding: 10px !important;
    }

    .about_us-video-section iframe {
        height: 350px !important;
    }
    .form-section {
        padding: 5px !important;
    }

    .social-media-icons {
        display: none !important;
    }

    .hero {
        padding: 30px 0 !important;
    }

    .hero .left-side p {
        padding: 0;
    }
    .hero .left-side h1 {
        font-size: 45px;
    }

    .about-us {
        padding: 10px 0 !important;
    }

    .about-us .left-side,
    .right-side {
        padding: 20px !important;
    }

    .absolute-img {
        width: 120px !important;
        height: 120px !important;
        
    }

    .about-img {
        transform: translateX(-100px) !important;
        height: 120px !important;
        margin-top: -120px !important;
    }

    /* .absolute-img:hover .about-img {
        transform: translateX(0) !important;
    } */

    .social-links a {
        font-size: 18px !important;
    }

    .about-img h4 {
        font-size: 15px;
    }

    .homepage-ads .ads-left-side h2 {
        font-size: 40px;
    }
}
@media (max-width: 600px) {
    .hero .left-side h1 {
        font-size: 58px !important;
    }
}

@media (max-width: 500px) {
    .hero .left-side h1 {
        font-size: 44.3px !important;
    }
}

@media (min-width: 400px) and (max-width: 450px) {
    .hero .left-side {
        max-width: 400px !important;
    }
    .hero .left-side h1 {
        font-size: 46px !important;
    }
    .about-us .right-side h3 {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .about-us .right-side h3 {
        line-height: 40px;
        font-size: 27px !important;
    }
    .course-img {
        width: 170px;
        height: 170px;
    }
    .hero .left-side {
        max-width: 400px !important;
    }
    .hero .left-side h1 {
        font-size: 37px !important;
    }
    .about-us .right-side h3 {
        font-size: 34px;
        font-weight: 500;
    }
    .btns a {
        width: 130px;
        font-size: 17px;
    }
}

/* Texno Tədris Mərkəzi */
/* succes */
.succes {
    margin: 40px 0;
}

.succes-top {
    margin-bottom: 50px;
    font-size: 25px;
    color: #072947;
    font-weight: 600;
    text-align: center;
}

.succes-item {
    margin: 10px;
}
.succes-bottom {
    display: flex;
    gap: 20px;
}
.succes-img img {
    object-fit: cover;
    width: 100%;
}
.succes-info {
    padding: 10px;
}

.succes-info h1 {
    font-size: 27px;
    font-family: "urbanist", sans-serif;
    font-weight: 700;
    color: #231f40;
}

.cost {
    width: 100px;
    margin: 15px 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    color: #fff;
    font-size: 22px;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    background-color: #3a317c;
    height: 35px;
}

.succes-info p {
    font-size: 20px;
}

.succes .davami {
    display: flex;
    justify-content: center;
}

.succes .container a {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #3a317c;
    color: #fff;
    padding: 10px;
    width: 150px;
    height: 40px;
    margin: 10px 0;
}

/* succes */

/* counter */

.people {
    padding: 40px 0;
    background-color: #3f14dc;
}

.people .counter-up {
    background-color: #4b24d8b7;
    text-align: center;
    color: #fff;
    padding: 20px 20px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-icon {
    margin-top: -10px;
    font-size: 25px;
}

.counter-divider {
    width: 100px;
    height: 2px;
    background-color: #f3c706;
}

/* counter */

._header {
    background-image: url(../images/header.jpg);
    padding: 45px 5px;
    background-size: cover;
    font-family: "urbanist", sans-serif;
}

._header h2 {
    color: #231f40;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

._header .page_links {
    display: flex;
}

.page_links a {
    font-weight: 600;
    color: #818181;
    padding-left: 10px;
}

/* about_us  */

.about_us-video-section {
    background-image: url(../images/header.jpg);
    background-size: cover;
    padding: 50px 0;
}

.about_us-video-section .container {
    padding: 20px 100px;
}

.about_us-video-section .container iframe {
    width: 100%;
    height: 600px;
    border-radius: 20px;
}

.about_us-teachers {
    padding: 50px;
    background-size: cover;
    background-image: url(../images/header.jpg);
}

.teacher {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.teacher .teacher-img {
    width: 250px;
    height: 250px;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}

.teacher-media-links {
    position: absolute;
    top: 46%;
    left: 46%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 5px;
    z-index: 1;
    opacity: 0;
    transition: 0.7s;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    align-items: center;
    margin: 10px;
    justify-content: center;
    backdrop-filter: blur(2px);
}

.teacher-media-links a {
    background-color: #fff;
    display: flex;
    width: 35px;
    cursor: pointer;
    height: 35px;
    box-shadow: 0px 2px 15px #072947;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.teacher:hover .teacher-media-links {
    opacity: 1 !important;
}

.teacher:hover .teacher-img:after {
    transform: rotate(90deg);
}

.teacher-img::after {
    content: "";
    background-image: url(../images/border.png);
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    transition: 0.5s all;
}

.teacher .teacher-img img {
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.teacher-info h3 {
    color: #231f40;
    font-size: 25px;
    font-weight: 700;
}

.testimonials {
    background-image: url(../images/header2.jpg);
    background-size: cover;
    padding: 70px;
}

.testimonials-head {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

.testimonials-head span {
    color: #3f14dc;
    font-size: 25px;
    font-weight: 600;
}

.testimonials-head h2 {
    margin-top: 10px;
    font-size: 35px;
    color: #231f40;
}

.comment {
    padding: 20px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 5px 15px #d1d1d1;
    background-color: #fff;
    margin: 15px;
}

.comment-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-text img {
    width: 130px !important;
}

.comment .comment-info {
    display: flex;
    gap: 30px;
    align-items: center;
}

.comment-info i {
    color: #285aeb;
    font-size: 30px;
}

.comment-writer p {
    color: #3f14dc;
}

/* contact */
.contact {
    padding: 60px 0;
}

.contact-head {
    text-align: center;
    margin-bottom: 50px;
}

.contact-head span {
    color: #5931e8;
    font-size: 24px;
    font-weight: 500;
}

.contact-head h3 {
    color: #231f40;
    margin-top: 30px;
    font-size: 30px;
}

.contact .contact-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    transition: 0.5s ease;
    margin: 15px 5px;
    height: 300px;
    background-color: #f4f4f480;
    border-radius: 10px;
}

.c-icon-color1 {
    color: #7e7ef9;
    background-color: #7149fe27 !important;
}
.c-icon-color2 {
    color: #108c90;
    background-color: #35aeff1f !important;
}
.c-icon-color3 {
    color: #95ff00;
    background-color: #77ff2e2c !important;
}
.c-icon-color4 {
    color: #ff3700;
    background-color: #ffb23d2c !important;
}

.contact-icon {
    font-size: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcdcdc3c;
}

.contact-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.contact-item h2 {
    color: #231f40;
    font-weight: 600;
    font-size: 25px;
}

.contact-info span {
    font-size: 17px;
    font-weight: 500;
    color: #505050;
}

.contact-item:hover {
    background-color: #525fe1;
    color: #fff;
}

.contact-item:hover .contact-icon {
    background-color: #fff !important;
}

.contact-item:hover h2 {
    color: #fff;
}

.contact-item:hover .contact-info span {
    color: #fff;
}

.form-label {
    font-size: 19px;
    font-weight: 400;
    color: #5f5f5f;
    margin-bottom: 15px;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-content .mb-3 {
    margin-bottom: 20px !important;
}

.form-content input {
    border: 1px solid #95959517;
    width: 100%;
    height: 50px;
    font-size: 19px;
}

.form-content #submit {
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: #5931e8;
    color: #fff;
    height: 45px;
}

.form-content textarea {
    min-height: 150px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
}

.my-map {
    padding: 30px;
}

.my-map h4 {
    margin-bottom: 30px;
}

.my-map iframe {
    width: 100%;
}
/* contact */

/* courses */

._courses {
    font-family: "urbanist", sans-serif;
    padding: 50px 0;
}

.courses_course-item .row {
    padding: 30px 0;
}

.courses_course-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-family: "urbanist", sans-serif;
}

.courses_course-item .courses_course-info h1 {
    font-weight: 600;
    font-size: 42px;
}

.courses_course-info p {
    font-weight: 500;
    font-size: 18px;
    color: #505050;
}

.courses_course-item:nth-child(even) .row {
    flex-direction: row-reverse;
}
.course-register-btn {
    display: flex;
    width: 200px;
    justify-content: center;
    font-weight: 600;
    gap: 20px;
    height: 45px;
    border-radius: 25px;
    align-items: center;
    background-color: #525fe1;
}

.course-register-btn a {
    color: #fff;
    letter-spacing: 1px;
}

/* courses */

/* comp-courses */

.comp_course-item {
    padding: 20px 0;
}

.comp_course-item:nth-child(even) .row {
    flex-direction: row-reverse;
}

.computer-course-img {
    height: 500px;
}
.computer-course-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* comp-courses */
.gallery-item {
    margin-bottom: 20px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* course-details */

.course-details {
    padding: 25px 0;
    font-family: "urbanist", sans-serif;
}

.course-details_left-side .course-details_img img {
    border-radius: 5px;
    height: 500px;
    object-fit: cover;
}

.course-details_info {
    padding: 20px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-details_info .creator {
    display: flex;
    align-items: center;
    color: #666;
    gap: 10px;
    font-weight: 700;
    font-size: 20px;
}

.course-details_info .creator .creator-img {
    width: 50px;
    height: 50px;
}

.creator-img img {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.course-details_info span {
    font-weight: 700;
    color: #666;
    font-size: 20px;
}

.course-details_left-side p {
    font-size: 19px;
    font-weight: 600;
    color: #666;
}

.course-details_left-side h3 {
    color: #4535bc;
    font-weight: 800;
    margin: 30px 0;
    font-size: 22px;
}

.course-detail {
    margin: 20px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-left: 30px;
}

.course-detail li {
    font-weight: 600;
    font-size: 20px;
}

.course-detail li b {
    color: #4535bc;
}
.course-detail .fa-circle-check,
.fa-circle-plus {
    margin-right: 10px;
    color: #4535bc;
}
.search-input {
    padding-bottom: 30px;
}

.search-input input {
    width: 100%;
    height: 40px;
    border: 1px solid #ffffff;
    padding: 25px;
}

.search-input input:focus {
    border-radius: 5px;
    border: 1px solid #4535bc;
}
.course-details_right-side {
    padding-top: 20px;
}

.course-details_right-side h3 {
    padding-bottom: 20px;
    color: #231f40;
}

.category-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0;
}

.category-links a {
    display: flex;
    padding: 10px 5px;
    border-bottom: 1px solid #d1d1d179;
    font-size: 19px;
    color: #666;
}

.ads {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    gap: 30px;
    border-radius: 10px;
}
.instagram {
    color: #d6249f;
    background-color: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.facebook {
    color: #285aeb;
    background-color: #285aeb;
}

.ads-img {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: #fff;
    border-radius: 50%;
}

.ads h3 {
    color: #fff;
}

.ads a {
    display: flex;
    padding: 6px 30px;
    background-color: #fff;
    border-radius: 40px;
}

.instagram-img {
    height: 100%;
}

.instagram-img img {
    width: 100%;
    object-fit: cover;
}

.homepage-ads {
    padding: 40px 0;
    margin: 50px 0;
}

.homepage-ads .row {
    display: flex;
    align-items: center;
}

.ads-left-side {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ads-left-side h2 {
    font-size: 45px;
    font-weight: 800;
    background: -webkit-linear-gradient(80deg, #fd5949 30%, #d6249f 50%, #285aeb 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        sans-serif;
}

.ads-left-side p {
    font-size: 20px;
    padding-right: 30px;
    font-weight: 600;
    color: #818181;
}

.ads-left-side a {
    display: flex;
    width: 200px;
    color: #fff;
    padding: 7px;
    border-radius: 100px;
    justify-content: center;
    font-weight: 600;
    background: linear-gradient(10deg, #fdcd97 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

._exams {
    margin: 50px 0;
}

.page-info {
    margin-bottom: 50px;
}

.page-info h2 {
    font-family: "urbanist", sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 20px;
    color: #3f14dc;
}

.page-info h4 {
    font-size: 25px;
    text-align: center;
    color: #505050;
    font-weight: 700;
    font-family: "urbanist", sans-serif;
}

#exam-row {
    margin: 70px 0;
}

#exam-row .col-md-6 {
    padding: 0 10px;
}

.exam-item {
    background-color: #5931e8;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    gap: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.exam-item h4 {
    font-weight: 600;
    color: #ffffff;
    font-family: "urbanist", sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
}

.exam-item p {
    font-size: 19px;
    color: #fff;
    font-weight: 700;
    font-family: "urbanist", sans-serif;
    letter-spacing: 2px;
}

.exam-item a {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px;
    width: 150px;
    font-family: "urbanist", sans-serif;
    font-size: 19px;
    border-radius: 30px;
    position: relative;
    background-color: #724cfb;
}

.exam-item a:hover {
    background-color: #4c1ef0;
    transition: 0.3s ease-in-out;
}

#copy-kod {
    padding: 10px;
    background-color: #02f7ff;
}

.alert-msg {
    background-color: rgba(255, 189, 58, 0.525);
    padding: 10px;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 600;
    color: rgba(253, 22, 22, 0.784);
    margin: 20px 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.center a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 300px;
    color: #fff;
    background-color: #c1a6ff;
}

.center a:hover {
    background-color: #5e5efe;
    transition: 0.5s ease;
}
.teacher-header {
    text-align: center;
    margin-bottom: 50px;
}

.teacher-header h2 {
    color: #231f40;
    font-weight: 700;
    font-family: "urbanist", sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}
